<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.pitchify_main">


    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />



    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Pitchify_Main"
        tools:targetApi="31">

        <activity

            android:name=".dashboard_screens.onboarding1"

            android:exported="true"
            android:theme="@style/Theme.Pitchify_Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity

            android:name=".resource_screens.learning_resources_starting_page"

            android:exported="true">


        </activity>

        <activity android:name=".ChatActivity" />

        <!-- Activities -->
        <activity
            android:name=".MainActivity"
            android:exported="false"

            android:theme="@style/Theme.Pitchify_Main"/>



        <activity
            android:name=".resource_screens.filter_resources"
            android:exported="true"
            android:theme="@style/Theme.Pitchify_Main"/>

        <activity
            android:name=".admin_staffoverviewperformance.admin_profile2"
            android:exported="true"
            android:theme="@style/Theme.Pitchify_Main"/>

        <activity
            android:name=".dashboard_screens.onboarding2"
            android:exported="true"
            android:theme="@style/Theme.Pitchify_Main"/>

        <activity
            android:name=".dashboard_screens.onboarding3"
            android:exported="true"
            android:theme="@style/Theme.Pitchify_Main"/>

        <activity
            android:name=".dashboard_screens.onboarding4"
            android:exported="true"
            android:theme="@style/Theme.Pitchify_Main"/>

        <activity
            android:name=".dashboard_screens.onboarding5"
            android:exported="true"
            android:theme="@style/Theme.Pitchify_Main"/>

        <activity
            android:name=".aipitching_screens.aipitching_training"
            android:exported="true"
            android:theme="@style/Theme.Pitchify_Main"/>


        <activity
            android:name=".resource_screens.resources_enroll_page"
            android:exported="true"
            android:theme="@style/Theme.Pitchify_Main"/>


        <activity
            android:name=".resource_screens.learning_resources_quiz_start"
            android:exported="true"
            android:theme="@style/Theme.Pitchify_Main"/>

        <activity
            android:name=".resource_screens.learning_resources_quiz_one"
            android:exported="true"
            android:theme="@style/Theme.Pitchify_Main"/>

        <activity
            android:name=".resource_screens.learning_resources_quiz_two"
            android:exported="true"
            android:theme="@style/Theme.Pitchify_Main"/>

        <activity
            android:name=".resource_screens.learning_resources_quiz_four"
            android:exported="true"
            android:theme="@style/Theme.Pitchify_Main">


        <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Pitching" />


        <activity android:name=".dashboard_screens.dashboard_ongoing"
            android:exported="false"
            android:theme="@style/Theme.Pitchify_Main"/>

        <activity android:name=".dashboard_screens.dashboard_completion"
            android:exported="false"
            android:theme="@style/Theme.Pitchify_Main"/>

        <activity android:name=".dashboard_screens.staff_profile"
            android:exported="false"
            android:theme="@style/Theme.Pitchify_Main"/>

        <activity android:name=".dashboard_screens.staff_edit_profile"
            android:exported="false"
            android:theme="@style/Theme.Pitchify_Main"/>

        <activity android:name=".dashboard_screens.badge_view"
            android:exported="false"
            android:theme="@style/Theme.Pitchify_Main"/>

        <activity
            android:name=".login_screens.login"
            android:exported="false"
            android:theme="@style/Theme.Pitchify_Main" />


        <activity
            android:name=".login_screens.login2"
            android:exported="false"
            android:theme="@style/Theme.Pitchify_Main" />

        <activity
            android:name=".login_screens.dashboard_overview_login_screens"
            android:exported="false"
            android:theme="@style/Theme.Pitchify_Main" />

        <activity
            android:name=".login_screens.a_login_register"
            android:exported="false"
            android:theme="@style/Theme.Pitchify_Main" />

        <activity
            android:name=".login_screens.a_login"
            android:exported="false"
            android:theme="@style/Theme.Pitchify_Main" />

        <activity
            android:name=".login_screens.a_register"
            android:exported="false"
            android:theme="@style/Theme.Pitchify_Main" />

        <activity
            android:name=".login_screens.a_register_success"
            android:exported="false"
            android:theme="@style/Theme.Pitchify_Main" />

        <activity
            android:name=".login_screens.admin_profile"
            android:exported="false"
            android:theme="@style/Theme.Pitchify_Main" />

        <activity
            android:name=".admin_staffoverviewperformance.admin_staffoverviewperformance_row"
            android:exported="false"
            android:theme="@style/Theme.Pitchify_Main" />

      <activity
            android:name=".dashboard_screens.dashboard_overview"
            android:exported="false"
            android:theme="@style/Theme.Pitchify_Main" />

        <activity
            android:name=".aipitching_screens.aipitching_feedback"
            android:exported="false"
            android:theme="@style/Theme.Pitchify_Main" />

        <activity
            android:name=".aipitching_screens.aipitching_loadingperformance"
            android:exported="false"
            android:theme="@style/Theme.Pitchify_Main" />

        <activity
            android:name=".aipitching_screens.aipitching_permission"
            android:exported="false"
            android:theme="@style/Theme.Pitchify_Main" />

        <activity
            android:name=".aipitching_screens.aipitching_performance"
            android:exported="false"
            android:theme="@style/Theme.Pitchify_Main" />

        <activity
            android:name=".aipitching_screens.aipitching_task"
            android:exported="false"
            android:theme="@style/Theme.Pitchify_Main" />



        <activity
        android:name=".resource_screens.resources_training"
        android:exported="false"
        android:theme="@style/Theme.Pitchify_Main" />




    </application>
</manifest>